{
  "extends":"airbnb",
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "import/newline-after-import": 0
    },
    "env": {
      "mocha": true,
      "amd": true,
      "browser": true
      }
}
